<h2>Classes</h2>
{{#each classes}}
<div class="block">
	<h3>{{title}}</h3>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
	magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
	<p>Instructor: <strong>{{instructor}}</strong></p>
    <a href="/classes/{{_id}}/details" class="button">Classes Class</a>
</div>
{{/each}}